.header {
    background-color: #FFCE7a;
}
.left {
    background-color: #9DDDF4;
}
.center-upper {
    background-color: #C2FFC8;
}
.center-middle {
    background-color: #FFC2C5;
}  
.right {
    background-color: #F89C9C;
}
.center-lower {
    background-color: #FFF083;
}
.footer {
    background-color: #BEA5FF;
}
